-
  const complimentaryList = [
    {
      image: '@/assets/img/complimentary/complimentary-1.svg',
      title: 'Knowledge base',
      description: 'In the exclusive knowledge base you will lean everything there is to know about technique, training, the do’s and do not’s.'
    },
    {
      image: '@/assets/img/complimentary/complimentary-2.svg',
      title: 'Technique school',
      description: 'Receive in-depth technical breakdown and analysis of the most important exercises, their common mistakes and how these drills will help you on your journey towards the one arm handstand.'
    },
    {
      image: '@/assets/img/complimentary/complimentary-3.svg',
      title: 'Membership perks',
      description: 'Become a part of the inner circle, get added to the private chat and connect with like minded athletes.'
    }
  ];

section.light.complimentary(data-animate='translateY')
  ._container
    .complimentary__wrapper
      .complimentary__header
        h2.complimentary__title Complimentary content
        p.complimentary__description Every Handstand Labs athlete receives full complimentary access to:

      ul.complimentary-list
        each item, index in complimentaryList
          li.complimentary-list__item
            .complimentary-list__header
              .complimentary-list__label
                img(
                  src=require(`${item.image}`),
                  alt=`complimentary-${index + 1}`
                )

              h3.complimentary-list__title #{ item.title }

            p.complimentary-list__description #{ item.description }

      .complimentary__bottom
        a.complimentary__button.button-dark(
          href='https://courses.coachbachmann.com/checkout/?rid=p1x07N',
          target='_blank',
          rel='noreferrer'
        ) 
          span Learn to One Arm Handstand
